<!doctype html>

<html ng-app="app">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/3.0.0/toaster.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-animate/1.8.0/angular-animate.min.js" integrity="sha512-8THct7umrROaYLOPHjXppUo3U0PCWqJ/Jjof8tHVtNGIztZKwvU23+FQq0A5m7kDmUpPlNr8aSe1+nvIA+TlOA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/3.0.0/toaster.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <a class="navbar-brand" href="#">Планировщик задач</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" ng-controller="navbarController as vm" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item shadow-sm  rounded" ng-class="{ active: isActive('/')}">
                <a class="nav-link " href="#!/">Главная</a>
            </li>
            <li class="nav-item shadow-sm  rounded" ng-class="{ active: isActive('/projects')}">
                <a class="nav-link " href="#!/projects">Проекты</a>
            </li>
            <li class="nav-item shadow-sm  rounded" ng-class="{ active: isActive('/task')}">
                <a class="nav-link " href="#!/task">Задачи</a>
            </li>
        </ul>

        <form ng-submit="vm.tryToAuth(data)" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="email" ng-model="data.email" placeholder="Email">
            <input class="form-control mr-sm-2" type="password" ng-model="data.password" placeholder="пароль">
            <button class="btn btn-outline-success my-2 my-sm-0 shadow-sm  rounded" type="submit">Войти</button>
            <a class="btn btn-outline-secondary my-2 my-sm-0 shadow-sm  rounded" href="#!/" data-toggle="modal"  data-target="#registrationModal"
               type="button">Зарегистрироваться</a>
        </form>
        <div class="modal fade" ng-controller="registrationController as rc" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="registrationModalTitle">Регистрация</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input class="form-control mr-sm-2" type="text" ng-model="rc.data.name" placeholder="Имя">
                        <input class="form-control mr-sm-2" type="email" ng-model="rc.data.email" placeholder="Email">
                        <input class="form-control mr-sm-2" type="password" ng-model="rc.data.password" placeholder="Пароль">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <button type="button" ng-click="rc.register()" class="btn btn-primary">Зарегистрироваться</button>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="vm.isUserLoggedIn()" class="form-inline my-2 my-lg-0">
            <span>Привет, {{vm.user.name}}</span>
        </div>
    </div>
</nav>
<toaster-container></toaster-container>
<div class="container">

    <ng-view></ng-view>

    <script src="index.js"></script>
    <script src="navbar/navbarController.js"></script>
    <script src="home/home.js"></script>
    <script src="project/project.js"></script>
    <script src="project-members/project-members.js"></script>
    <script src="project-tasks/project-tasks.js"></script>
    <script src="task/task.js"></script>
    <script src="task/comment.js"></script>
    <script src="registration/registrationController.js"></script>
</div>
</body>
</html>
