<!doctype html>

<html ng-app="app">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <a class="navbar-brand" href="#">Планировщик задач</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" ng-controller="navbarController as vm" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item shadow-sm  rounded" ng-class="{ active: isActive('/')}">
                <a class="nav-link " href="#!/">Главная</a>
            </li>
            <li class="nav-item shadow-sm  rounded" ng-class="{ active: isActive('/projects')}">
                <a class="nav-link " href="#!/projects">Проекты</a>
            </li>
            <li class="nav-item shadow-sm  rounded" ng-class="{ active: isActive('/task')}">
                <a class="nav-link " href="#!/task">Задачи</a>
            </li>
        </ul>

        <form ng-submit="tryToAuth(data)" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="email" ng-model="data.email" placeholder="Email">
            <input class="form-control mr-sm-2" type="password" ng-model="data.password" placeholder="пароль">
            <button class="btn btn-outline-success my-2 my-sm-0 shadow-sm  rounded" type="submit">Войти</button>
            <a class="btn btn-outline-secondary my-2 my-sm-0 shadow-sm  rounded" href="#!/" data-toggle="tooltip"
               title="Скоро я буду помогать людям здесь регистрироваться"
               type="button">Зарегистрироваться</a>
        </form>
        <div ng-if="isUserLoggedIn()" class="form-inline my-2 my-lg-0">
            <span>Привет, {{user.name}}</span>
        </div>
    </div>
</nav>
<div class="container">
    <!--    <a class="btn btn-outline-warning" href="#!/auth">Войти или выйти</a>-->
    <ng-view></ng-view>

    <script src="index.js"></script>
    <script src="about/about.js"></script>
    <script src="project/project.js"></script>
    <script src="project-members/project-members.js"></script>
    <script src="home/home.js"></script>
    <script src="task/task.js"></script>
    <script src="navbar/navbarController.js"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</div>
</body>
</html>
