<div>
    <h2>Проект {{project.title}}</h2>

    <h3>Добавить пользователя</h3>
    <form novalidate ng-submit="submitAddMember()">
        <div class="form-group col-md-6">
            <label>Логин</label>
            <input class="form-control" type="text" ng-model="userLogin">
        </div>
        <div>
            <button class="btn btn-success" type="submit">Добавить</button>
        </div>
    </form>

    <h3>Список участников</h3>
    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <tr>
            <td>Логин</td>
            <td>Email</td>
            <td>Удалить из проекта</td>
        </tr>
        <tbody>
        <tr ng-repeat="member in project.members">
            <td>{{member.name}}</td>
            <td>{{member.email}}</td>
            <td>
                <a ng-click="submitDeleteMember(member)"><button type="button" class="btn btn-danger">Удалить</button></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
